<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="navigation"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>
    Hello and welcome to your lovely dashboardeeeee!
  </h1>

  <h4>
    <div *ngIf="position">
      <div>
        Latitude: {{position.coords.latitude}}
      </div>
      <div>
        Longitude: {{position.coords.longitude}}
      </div>
    </div>
    <div *ngIf="!position">
      Location is not available yet!
    </div>
  </h4>
</ion-content>