<ion-content>
  <div class="sign-up">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center sign-up--container">
          <form class="sign-up--form">
            <ion-item class="sign-up--form-element">
              <ion-label position="floating">
                Email
              </ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item class="sign-up--form-element">
              <ion-label position="floating">
                Password
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-button class="sign-up--cta" color="primary">
              Sign Up
            </ion-button>
            <div>
              Already on Ashe Pashe?
              <a [routerLink]="['../sign-in']">Sign In</a>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>